$gold-height: 200px;
$silver-height: 150px;
$bronze-height: 75px;

$sponsor-placeholder-bg: #ddd;
$sponsor-margin: 10px;

.gold,
.silver,
.bronze {
  @include make-row();
  text-align: center;

}

h3 {
  text-align: center;
  @include make-row();
  margin-top: 40px;
}

.sponsor {
  display: block;
  position: relative;
  margin-bottom: $grid-gutter-width / 2;

  img {
    width: auto;
    height: 100%;
  }

  .gold & {
    @include make-sm-column(12);
    height: $gold-height;
  }

  .silver & {
    // @include make-sm-column(6);
    // @include make-md-column-offset(3);
    height: $silver-height;
  }

  .bronze & {
    // @include make-sm-column(4);
    // @include make-md-column-offset(4);
    height: $bronze-height;
  }

  // sponsor logos customizations
  &.imper {
    margin: 10px;
  }
}

.s-link {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;;
  transform: translate(-50%, -50%);

  &:hover {
    text-decoration: none;
  }
}

.cfs {
  .gold & {
    font-size: 40px;
  }

  .silver & {
    font-size: 30px;
  }

  .bronze & {
    font-size: 20px;
  }
}
