- var contactEmail = "tomas.ehrlich@gmail.com"

doctype html
html(lang='en-us')
  head
    include ./components/head
  body.home(data-spy='scroll', data-target='#main-navbar', data-offset="60")
    include components/navbar

    section#section-home.home
      include ./pages/home
    section#section-speakers.speakers
      include ./pages/speakers
    section#section-schedule.timeline
      include ./pages/timeline
    section#section-tickets.tickets
      include ./pages/tickets
    section#section-sponsors.sponsors
      include ./pages/sponsors
    section#section-contact.map
      include ./pages/map

    include components/footer
    include components/js


