- var contactEmail = "tomas.ehrlich@gmail.com"


doctype html
html(lang='en-us')
  head
    include ./components/head
  body.home(id='', data-spy='scroll', data-target='#navbar-example')
    div
      header
        .navbar.navbar-default.navbar-fixed-top#navbar-example
          ul.nav.navbar-nav
            li
              a(href='#section-sponsors') section-sponsors
            li
              a(href='#section-speakers') speakers
      .jumbotron(xmlns='http://www.w3.org/1999/html')
        .container
          img.python-logo(src='/static/images/psf/python-notext.png')
          h1
            span.tri1 PyCon
            span.tri2 C
            span.tri3 Z
            |  2015
          .row
            .col-md-3.col-md-offset-3
              p.event-location Brno, Czech Republic
            .col-md-3
              p.event-date 14-15. November 2015
      .claim
        .container
          p.lead
            | The very first Python conference in Czech republic.
            | Join us for one day of talks about Python and Python related topics.
      section#section-sponsors.sponsors
        include ./pages/sponsors
      .soon
        .container
          p.lead More info coming soon, ETA end of June 2015
      section#section-speakers.speakers
        include ./pages/speakers
      section#section-map.map
        include ./pages/map
      hr
      footer
        .container
          footer
            a(href='https://github.com/tricoder42/cz.pycon.org-2015/blob/feature/code-of-conduct/code-of-conduct.md')
              | Code
              | of conduct
            p.psf-trademark
              a(href='https://www.python.org/psf/trademarks/pycon/') PyCon™
              |     is a trademark for worldwide conference activities claimed by
              a(href='https://www.python.org/psf-landing/') Python software foundation
              | .

    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script.
      (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-62652331-2', 'auto');
      ga('send', 'pageview');
    script.
      var lng = 16.596936;
      var lat = 49.226245;
      var map = new GMaps({
      div: '#map',
      zoom: 17,
      lat: lat,
      lng: lng,
      scrollwheel: false
      });
      map.addMarker({
      lat: lat,
      lng: lng,
      title: 'PyCon CZ 2015'
      });
    script.
      $(function () {
      $('body').scrollspy({target: '#navbar-example'})
      });
