footer
  .container
    footer
      a(href='/'+year+'/coc.html')
        | Code of Conduct

      p.psf-trademark
        a(href='https://www.python.org/psf/trademarks/pycon/', target='_blank') PyCon™
        |  is a trademark for worldwide conference activities claimed by
        a(href='https://www.python.org/psf-landing/', target='_blank') Python Software Foundation
        | .

      p
        a(href="mailto:"+contactEmail)
          | Feel free to contact us!
