footer
  .container
    footer
      a(href='https://github.com/pyvec/cz.pycon.org-2015/blob/master/code-of-conduct.md', target='_blank')
        | Code of Conduct

      p.psf-trademark
        a(href='https://www.python.org/psf/trademarks/pycon/', target='_blank') PyCon™
        |  is a trademark for worldwide conference activities claimed by
        a(href='https://www.python.org/psf-landing/', target='_blank')  Python Software Foundation
        | .
