meta(charset='utf-8')
title PyCon CZ 2015
meta(name='viewport', content='width=device-width, initial-scale=1.0')
//if lt IE 9
  script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
link(href='/static/css/pyconcz.css', rel='stylesheet')
