.jumbotron
  .container
    h1
      span.label PyCon CZ 2015
      img.python-logo(src='/static/images/pycon-cz-logo.png')
    .row
      .col-md-3.col-md-offset-3
        p.event-location Brno, Czech Republic
      .col-md-3
        p.event-date November 14-15, 2015
