div
  header
    .navbar.navbar-default.navbar-fixed-top#navbar-example
      ul.nav.navbar-nav
        li
          a(href='#section-home') section-home
        li
          a(href='#section-sponsors') section-sponsors
        li
          a(href='#section-speakers') speakers
        li
          a(href='#section-map') map
