//- HIDE FOR NOW

.twitter-list
  .twitter-content
    blockquote.twitter-tweet(lang="en")
      p(lang="en", dir="ltr").
        Super impressed with #[a(href="https://twitter.com/pyconcz") @pyconcz].
        For a first edition, they&#39;re doing a lot of things right.&#10;You should
        come too: #[a(href="https://t.co/TBT3ME854v") https:\/\/t.co\/TBT3ME854v]

      | &mdash; Baptiste Mispelon (@bmispelon)
      a(href="https://twitter.com/bmispelon/status/654613420797480960") October 15, 2015
    
  .twitter-content
    blockquote.twitter-tweet(lang="en")
      p(lang="en", dir="ltr").
        Just a reminder that #[a(href="https://twitter.com/pyconcz") @pyconcz] team
        is absolutely killing it, and it’s their first! ⚡️You should go:
        #[a(href="https://t.co/iIioxCTQMd") https:\/\/t.co\/iIioxCTQMd]

      | &mdash; Ola Sitarska (@olasitarska)
      a(href="https://twitter.com/olasitarska/status/654705632327548928") October 15, 2015

.twitter-list
  .twitter-content
    blockquote.twitter-tweet(lang="en")
      p(lang="en", dir="ltr").
        Just bought a ticket for #[a(href="https://twitter.com/hashtag/pyconcz?src=hash") #pyconcz]
        #[a(href="https://t.co/w6NZ6CdCQ5") https:\/\/t.co\/w6NZ6CdCQ5] The list
        of talks looks really interesting.
      
      | &mdash; Jirka Vejrazka (@JirkaV) #[a(href="https://twitter.com/JirkaV/status/654931137463197696") October 16, 2015]

  .twitter-content
    blockquote.twitter-tweet(lang="en")
      p(lang="en", dir="ltr").
        I just registered for PyCon CZ 2015 #[a(href="https://t.co/7CKwOXBi0D") https:\/\/t.co\/7CKwOXBi0D]
        See you all there! :)
      | &mdash; Honza Král (@HonzaKral) #[a(href="https://twitter.com/HonzaKral/status/654705298842628096") October 15, 2015]

.twitter-list
  .twitter-content
    blockquote.twitter-tweet(lang="en")
      p(lang="en", dir="ltr").
        Oh man, #[a(href="https://twitter.com/pyconcz") @pyconcz] looks
        promising - Czech, Python, great talks, affordable tickets, good beer
        - what more can a developer ask for?
      | &mdash; Žan Anderle (@z_anderle) #[a(href="https://twitter.com/z_anderle/status/656168108080668673") October 19, 2015]

script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
