- var contactEmail = "info@pycon.org.il"
- var year = "2016"
//- - var ticketsLink = "https://ti.to/pyvec/pycon-cz-2015/"
//- - var urlBase = "https://cz.pycon.org/" + year + "/"
- var urlBase = "http://pyconil-2016-dev.s3-website-us-east-1.amazonaws.com/"
