.jumbotron
  .container
    img.python-logo(src='/static/images/psf/python-notext.png')
    h1 PyCon CZ 2015
    .row
      .col-md-3.col-md-offset-3
        p.event-location Brno, Czech Republic
      .col-md-3
        p.event-date November 14-15, 2015
.claim
  .container
    p.lead
      | The very first Python conference in Czech Republic.
      | Join us for a fun weekend full of talk and sprints about Python and Python-related topics.
