h2 The venue

.container
  .row
    .col-md-8.col-md-push-2
      p.lead.
        Brno is a lovely village in the heart of Europe. You can easily get
        here from 4 capital cities in 5 hours: Prague, Vienna, Bratislava,
        and Budapest.
      
      p.lead.
        The conference is going to be held in Brno University of Technology.

address
  p.strong VUT FIT
  p Building D
  p Božetěchova 1/2
  p 612 66 Brno
  p Czech Republic

#map
