h2 The venue

.container
  .row
    .col-md-8.col-md-push-2
      p.lead.
        Brno is a lovely village in the heart of Europe. You can easily get
        here from 4 capital cities in 5 hours: Prague, Vienna, Bratislava,
        and Budapest.
