h2.text-center Speakers

.row
  .col-md-4
    img(src='https://pbs.twimg.com/profile_images/598803746722816000/htcvwi8Z.jpg', alt='')
    p.name Mikey Ariel
    p.description Tech writer @ #RedHat. #writethedocs documentarian
  .col-md-4
    img(src='https://pbs.twimg.com/profile_images/58051305/rusty-mugshot.png', alt='')
    p.name Russell Keith-Magee
    p.description Django Core Developer
  .col-md-4
    img(src='http://www.waterfordwine.com/wordpress/wp-content/uploads/2012/01/uncle-sam-wants-you.jpg', alt='')
    p.name Your name
    p.description
      a(href='mailto:' + contactEmail)
        | Write us!
