h2 Our sponsors

.container
  .gold
    .sponsor-placeholder
      .sponsor
        a.s-link.cfs(href='mailto:' + contactEmail)
          | Become our the most exclusive Gold sponsor!
  .silver
    .sponsor-placeholder
      .sponsor
        a.s-link.cfs(href='mailto:' + contactEmail)
          | Show yourself as a Silver sponsor!
    .sponsor-placeholder
      .sponsor
        a.s-link(href='')
  .bronze
    .sponsor-placeholder
      .sponsor
        a.s-link.cfs(href='mailto:' + contactEmail)
          | Support us as a Bronze sponsor!
    .sponsor-placeholder
      .sponsor
        a.s-link(href='')
    .sponsor-placeholder
      .sponsor
        a.s-link(href='')
    .sponsor-placeholder
      .sponsor
        a.s-link(href='')
    .sponsor-placeholder
      .sponsor
        a.s-link(href='')
    .sponsor-placeholder
      .sponsor
        a.s-link(href='')
