h2.text-center Tickets
.container
  .row
    .col-md-12
      p Tickets are available at #[a(href="https://ti.to/pyvec/pycon-cz-2015/" https://ti.to/pyvec/pycon-cz-2015/]!

      //script(src="https://js.tito.io/v1", async)
      //tito-widget(event="pyvec/pycon-cz-2015", ssl-check-disabled)
      //tito-button(event="pyvec/pycon-cz-2015", ssl-check-disabled, releases="3elajg6qcxu"-)
