h2.text-center Schedule

div.row
  ul.ul-timeline.col-md-10.col-md-offset-1
    li
      .timeline-badge.warning
        i.glyphicon.glyphicon-check
      .timeline-panel
        .timeline-heading
          h4.timeline-title Django Girls
          p
            small.text-muted
              i.glyphicon.glyphicon Friday 13th

        .timeline-body
          p.
            The world famous DjangoGirls workshop is going to Brno for the
            second time. Full day of learning, coding and fun to inspire
            and bring more amazing women into the world of technology.

    li.timeline-inverted
      .timeline-badge.info
        i.glyphicon.glyphicon-credit-card
      .timeline-panel
        .timeline-heading
          h4.timeline-title Talks
          p
            small.text-muted
              i.glyphicon.glyphicon Saturday 14th
        .timeline-body
          p.
            On Sunday expect range of talks about Python and how it's used
            in different environments. From building beautiful django-pony
            websites, to analyzing terabytes of data in science institutes,
            we're going to select the most diverse talks from all possible fields.
    li
      .timeline-badge
        i.glyphicon.glyphicon-credit-card
      .timeline-panel
        .timeline-heading
          h4.timeline-title Sprints and workshops
          p
            small.text-muted
              i.glyphicon.glyphicon Sunday 15th
        .timeline-body
          p.
            Traditional conference sprints will be held on Sunday. Do you
            have an interesting project you would like to work with other people?
            Tell them, inspire them and get special force of keen programmers.
            Do you have a idea for workshop? Tell us and we'll help you to
            organize it.
