.pycon
  img.pycon-logo(
    alt="PyCon CZ",
    src='/'+year+"/static/images/pycon-cz-logo-icon.svg",
    onerror="this.onerror = null; this.src = '/2015/static/images/pycon-cz-logo.png'"
  )
  
  h1
    | PyCon CZ
    span.year= year

  .pycon-info
    p.pycon-location Brno, Czech Republic
    p.pycon-date November 14-15
//- 
//- .claim
//-   .container
//-     p.lead
//-       | The very first Python conference in the Czech Republic.
//-       | Join us for a fun weekend full of talks and sprints about Python and Python-related topics.
