include ../components/vars
doctype html
html(lang='en-us')
  head
    include ../components/head
  body.home(data-spy='scroll', data-target='#main-navbar', data-offset="60")
    include ../components/navbar
    .getting-here.container
      h2.text-center Getting Here
      .row
        h3 Air
        .col-md-6
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper porttitor pellentesque. Sed sit amet interdum dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam elit leo, eleifend vel faucibus nec, faucibus ultrices erat. Nulla egestas pellentesque mollis. Mauris et ultricies metus. Donec non convallis ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus tortor quam, in porta nisi ultrices id. Duis dapibus nibh risus, id dictum lacus mollis sit amet. Proin rhoncus consequat scelerisque. Curabitur condimentum mi id eros mattis, vitae facilisis justo suscipit. Donec sit amet massa dignissim ligula ultricies mollis.
        .col-md-6
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper porttitor pellentesque. Sed sit amet interdum dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam elit leo, eleifend vel faucibus nec, faucibus ultrices erat. Nulla egestas pellentesque mollis. Mauris et ultricies metus. Donec non convallis ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus tortor quam, in porta nisi ultrices id. Duis dapibus nibh risus, id dictum lacus mollis sit amet. Proin rhoncus consequat scelerisque. Curabitur condimentum mi id eros mattis, vitae facilisis justo suscipit. Donec sit amet massa dignissim ligula ultricies mollis.

      .row
        h3 Road
        .col-md-12
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper porttitor pellentesque. Sed sit amet interdum dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam elit leo, eleifend vel faucibus nec, faucibus ultrices erat. Nulla egestas pellentesque mollis. Mauris et ultricies metus. Donec non convallis ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus tortor quam, in porta nisi ultrices id. Duis dapibus nibh risus, id dictum lacus mollis sit amet. Proin rhoncus consequat scelerisque. Curabitur condimentum mi id eros mattis, vitae facilisis justo suscipit. Donec sit amet massa dignissim ligula ultricies mollis.



  include ../components/footer
  include ../components/js
