doctype html
html(lang='en-us')
  head
    include ../components/head
  body.home(data-spy='scroll', data-target='#main-navbar', data-offset="60")
    include ../components/navbar
    include ../pages/home

    .sponsorship.container
      h2.text-center PyCon CZ 2015 Sponsorship Packages
      .row
        p.lead #[a(href="/", ) PyCon Czech Republic] is a two-day conference organized by the Python community for the Python community. The conference will include 1 full day of talks featuring 2 international keynote speakers (all sessions will be held in English), and 1 day of sprints and workshops where Pythonistas can get together and work on their open source projects.
        p.lead This year is the first edition of PyCon CZ, and we look forward to bringing the tradition of diverse and insightful speakers, top-quality venues, and a great atmosphere to Czech Republic. Regional PyCons are well-known for attracting developers, sysadmins, writers, designers, and community members from all over.
        p.lead These packages are recommendations for your company or organization. If you would like to contribute a different amount or alternative sponsorship format, please let us know and we’ll be happy to discuss custom packages.

      .row
        .col-md-4
          h3 Platinum 3,000€
          p As a Platinum sponsor, you will receive the following benefits:
          ul.text-left
            li Full width logo on the event website
            li 3 tickets
            li Display unlimited promotional (“Swag”) items
            li Address audience during a sponsorship lightning talk (5 minutes)
            li Space for copy in welcome/goodbye emails to attendees

        .col-md-4
          h3 Gold 1,500€
          p As a Gold sponsor, you will receive the following benefits:
          ul.text-left
            li Large logo on the event website
            li 2 tickets
            li Physical logo at the event (eg. banners, badge, stickers, etc)
            li Sponsorship branding, one of the following
              ul
                li Name the lunch
                li Name the pre-registration social
                li Name the main conference party
                li Lanyards

        .col-md-4
          h3 Silver 750€
          p As a Silver sponsor, you will receive the following benefits:
          ul.text-left
            li 1 ticket
            li Small logo on the event website
            li Display 1 promotional (“Swag”) item


  .claim.sp-claim
    span.lead
      | Please direct all inquiries to <strong>Tomáš Ehrlich</strong> at #[a(href="mailto:tomas.ehrlich@gmail.com", ) tomas.ehrlich@gmail.com]


  include ../components/footer
  include ../components/js
