doctype html
html(lang='en-us')
  head
    include ../components/head
  body.home(data-spy='scroll', data-target='#main-navbar', data-offset="60")
    include ../components/navbar
    .team
      h2.text-center Team
      .row
        .col-md-4
          img(src='https://pbs.twimg.com/profile_images/528237673563959297/yYJxmlNO.png', alt='')
          p.name Tomáš Ehrlich
          p.description I don't think. I do things. #triathlon #python #life #universe and #everything
        .col-md-4
          img(src='https://pbs.twimg.com/profile_images/1225634759/gravatar150.png', alt='')
          p.name Honza Javorek
          p.description API design lover, Czech Python community mascot. Helping @apiaryio with making @apiblueprint the best format for describing web APIs.
        .col-md-4
          img(src='https://pbs.twimg.com/profile_images/598803746722816000/htcvwi8Z.jpg', alt='')
          p.name Mikey Ariel
          p.description Tech writer @ #RedHat. #writethedocs documentarian


    include ../components/footer
    include ../components/js
