{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}PyCon CZ 2015{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  <div class="jumbotron">
    <div class="container"><img src="{% static 'images/psf/python-notext.png' %}" class="python-logo">

      <h1><span class="tri1">PyCon</span> <span class="tri2">C</span><span class="tri3">Z</span> 2015</h1>

      <div class="row">
        <div class="col-md-3 col-md-offset-3"><p class="event-location">Brno, Czech Republic</p></div>
        <div class="col-md-3"><p class="event-date">14-15. November 2015</p></div>
      </div>
    </div>
  </div>
  <div class="claim">
    <div class="container"><p class="lead">The very first Python conference in Czech republic.
      Join us for one day of talks about Python and Python related topics.
    </p></div>
  </div>
  <div class="soon">
    <div class="container"><p class="lead">More info coming soon, ETA end of June 2015</p></div>
  </div>
{% endblock %}
