extends ../base

//- render single speaker
mixin talk(workshop)
  .workshop
    h3
      = workshop.title
      small 
        | by 
        = workshop.name

    .misc
      small
        = workshop.time
      if workshop.github
        a.social.github(href="https://github.com/" + workshop.github)
          .fa.fa-github
      if workshop.twitter
        a.social.twitter(href="https://twitter.com/" + workshop.twitter)
          .fa.fa-twitter
          
    != md(workshop.abstract)

block vars
  - var pageClass = "page-workshops"
  - var activePage = "workshops"

block viewport
  .container
    h1 Our speakers
    
    //-  Iterate over workshops object (loaded in gulpfile from data/workshops.json)
    //-  and render mixin talk() (see above)
    each speaker, index in speakers
      +talk(speaker[0])
      +talk(speaker[1])
  
