extends ../base
//- HIDE FOR NOW

block vars
  - var pageClass = "page-sponsors"

block viewport
  .container
    h1.text-center Become our partner
    
    p.lead.
      #[a(href=pageUrl("")) PyCon IL] is a two-day conference organized by
      the Python community for the Python community. The conference will include
      1 full day of talks featuring 2 international keynote speakers (all
      sessions will be held in English), and 1 day of sprints and workshops
      where Pythonistas can get together and work on their open source projects.

    p.
      This year is the first edition of PyCon IL, and we are looking forward
      to bringing the tradition of diverse and insightful speakers, top-quality
      venues, and a great atmosphere to Israel. Regional PyCons are
      well-known for attracting developers, sysadmins, writers, designers, and
      community members from all over.

    p.
      These packages are recommendations for your company or organization. If
      you would like to contribute a different amount or an alternative sponsorship
      format, please let us know and we’ll be happy to discuss custom packages.

    h2 Sponsorship Packages
    
    .row
      .col-md-4
        h3 #[strike Platinum €3,000] #[small Sold out]
        p As a Platinum sponsor, you will receive the following benefits:
        ul
          li Full width logo on the event website
          li 3 tickets
          li Display unlimited promotional (“Swag”) items
          li Your own booth in the venue hall
          li Address audience during a sponsorship lightning talk (5 minutes)
          li Space for copy in welcome/goodbye emails to attendees

      .col-md-4
        h3 Gold €1,500
        p As a Gold sponsor, you will receive the following benefits:
        ul.text-left
          li Large logo on the event website
          li 2 tickets
          li Physical logo at the event (eg. banners, badge, stickers, etc)
          li Your own booth in the venue hall
          li Sponsorship branding, one of the following
            ul
              li Name the lunch
              li Name the pre-registration social
              li Name the main conference party
              li #[strike Lanyards] #[small sold out]

      .col-md-4
        h3 Silver €750
        p As a Silver sponsor, you will receive the following benefits:
        ul.text-left
          li Small logo on the event website
          li 1 ticket
          li Display 1 promotional (“Swag”) item

  p.call-to-action.
    Please direct all inquiries to #[a(href="mailto:info@pycon.cz") info@pycon.cz]
