extends ../base

block vars
  - var pageClass = "page-team"

block viewport
  .container
    h1 Meet the PyCon Israel team!
    
    p.lead.
      PyCon is a community event, organized by individual contributors and supported
      by corporate and community sponsorships. Below is a list of our core team members.

    p.lead.
    .team-member
      img(src='https://pbs.twimg.com/profile_images/665957737361182720/E00A4zck.jpg', alt='Photo of Doron Fediuck')
      p.name
        a(href="https://twitter.com/doron_f") Doron Fediuck

    .team-member
      img(src='https://media.licdn.com/media/p/1/000/05d/157/3024a5a.jpg', alt='Photo of Sim Zacks')
      p.name
        a(href="https://il.linkedin.com/in/simzacks") Sim Zacks

    .team-member
      img(src='https://pbs.twimg.com/profile_images/598803746722816000/htcvwi8Z.jpg', alt='Photo of Mikey Ariel')
      p.name
        a(href="https://twitter.com/thatdocslady") Mikey Ariel

    .team-member
      img(src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/13a/263/3316ec0.jpg', alt='Photo of Edan Maor')
      p.name
        a(href="SOCIALMEDIA-URL") Edan Maor
            
    .team-member
      img(src='PHOTO-URL', alt='Photo of Shai Berger')
      p.name
        a(href="SOCIALMEDIA-URL") Shai Berger
            
    .team-member
      img(src='PHOTO-URL', alt='Photo of David Melamed')
      p.name
        a(href="SOCIALMEDIA-URL") David Melamed

    .team-member
      img(src='PHOTO-URL', alt='Photo of Moshe Nahmias')
      p.name
        a(href="SOCIALMEDIA-URL") Moshe Nahmias
    
    .team-member
      img(src='PHOTO-URL', alt='Photo of Karin Worcel')
      p.name
        a(href="SOCIALMEDIA-URL") Karin Worcel
    
    .team-member
      img(src='PHOTO-URL', alt='Photo of Daniel Puterman')
      p.name
        a(href="SOCIALMEDIA-URL") Daniel Puterman
    
    .team-member
      img(src='PHOTO-URL', alt='Photo of Ofir Ovadia')
      p.name
        a(href="SOCIALMEDIA-URL") Ofir Ovadia

 .container
    p.call-to-action.
     Want to join our team or just lend a hand? 
     #[a(href="mailto:info@pycon.org.il?subject=Please, add me to your Slack!") Join us] on Slack!
