extends ../base

//- HIDE FOR NOW

block viewport
  .container
    h1 Tickets

    p.lead.
      Ticket sales are now closed. Looking forward to meet you all at
      the first year edition of #[strong PyCon CZ].
    
    include ../components/twitter

    h2 What's included in the ticket price
    
    ul.ticket-overview
      li #[span.number 2] days of conference
      li #[span.number 2] tracks of talks
      li #[span.number 14] talks
      li #[span.number 2] delicious lunches
      li #[span.number 4+] finest coffee with Czech cakes
      li #[span.number &infin;] pure awesomeness

    ul.ticket-features
      li all talks, sprints and workshops during the #[strong two days] of the event
      li lunch and refreshments on both days
      li the finest #[strong coffee] with awesome #[strong Czech cakes] during breaks
      li a t-shirt and a bag full of conference swag and gifts

    p.
      Accommodation and travel costs are not covered. However, we'll try to
      find you the best hotel deals in Brno.

    h2 What ticket is the right for me?

    p.
      We try to keep the ticket prices as low as possible. Every corporate
      ticket allows us to issue two #[strong Student] tickets. If you employer
      is paying for your ticket, please select a #[strong Corporate] rate.

    p.
      Do you want to buy more than 10 tickets for your employees? Contact us
      directly and also consider our #[a(href=pageUrl("about/sponsorship.html")) sponsorship]
      packages.

    h2 Where does all the money go?

    p.
      This is a non-profit event run by volunteers and driven by the community.
      The event is organized with the help of Czech Python/Django community
      – #[a(href="http://pyvec.org") Pyvec].
    
    p.
      #[strong Everything] we receive from your ticket purchases goes
      directly towards the costs of running the event and making it enjoyable
      and memorable for all attendees.
