extends ../base

//- render single speaker
mixin talk(workshop)
  .workshop
    //- img.avatar(src=avatar(workshop.avatar), alt='Photo of ' + workshop.name)

    h3
      = workshop.title
      small 
        | by 
        = workshop.name
    
    if workshop.github
      a.social.github(href="https://github.com/" + workshop.github)
        .fa.fa-github
    if workshop.twitter
      a.social.twitter(href="https://twitter.com/" + workshop.twitter)
        .fa.fa-twitter
          
    p= workshop.abstract
    

block vars
  - var pageClass = "page-workshops"

block viewport
  .container
    h1 Sprints &amp; Workshops
    
    h2 Breakfast
    p.
      Good morning, everyone!
      Let's start with something pleasant. Join us for delicous breakfast before coding madness begins.     
    
    h2 Workshops
    p.
      There's going to be six workshops in 3 rooms. One block of
      workshops before the lunch and one after.
      
    p.
    
    //-  Iterate over workshops object (loaded in gulpfile from data/workshops.json)
    //-  and render mixin talk() (see above)
    each workshop, index in workshops
      +talk(workshop)
      
    h2 Sprints
    p.
      Along workshops listed above, there's going to be ongoing hacking &amp;
      conding atmosphere. If you don't have your project you want to work with
      other developers, you can join some of our designed sprints:
      
    h3 Python 3 Porting
    p.
      Make your project Python 3 compatible or help a project you like!
      Experienced porters can help you on your way, with guidance on porting
      strategies, best practices, libraries and automation. They can even
      give you advices how to convince management/upstream that supporting
      Python 3 is a good idea.

    h2 This is the end – thank you!
    p.
      It was a loong weekend and it's time to go home. #[br]
      The first PyCon CZ is over. See you next year!

    hr
    a.anchor#directions
    h2 The venue
    
    p.lead.
      Spaces for sprints and workshops are provided by #[a(href="http://www.hubbrno.cz/en/") Impact Hub Brno]. 

  .map
    address
      p.strong Impact Hub Brno
      p 49°13'34.5"N 16°35'49.0"E
      p Cyrilská 7
      p 602 00 Brno
      p Czech Republic
      
    #map.impact
