.map {
  position: relative;

  address {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1.8em;
    text-align: left;
    padding: 0 $padding-base-horizontal;

    @media (min-width: $screen-sm) {
      position: absolute;
      top: 110px;
      left: 120px;
      z-index: 1000;
      width: 250px;
      padding: 60px 20px;
      text-shadow: 1px 1px $text-shadow-color;
    }

    .strong {
      margin-bottom: 25px;
      font-weight: 500;
    }
  }

  #map {
    display: block;
    height: $map-height;
  }
}
