.map {
  position: relative;

  address {
    position: absolute;
    top: 30px;
    left: 120px;
    display: block;
    width: 250px;
    height: 80%;
    padding: 60px 20px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1.8em;
    text-align: left;
    text-shadow: 1px 1px $text-shadow-color;

    .strong {
      margin-bottom: 25px;
      font-weight: 500;
    }
  }

  #map {
    display: block;
    height: $map-height;
  }
}
