// size if PyCon logo (not displayed on homepage)
$brand-size: 45px;

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: $navbar-height;

  border-bottom: 1px solid $brand-silent;
  background-color: $navbar-bg;


  .pycon-logo {
    position: absolute;
    top: 50%;
    right: 0;
    width: $brand-size;
    height: $brand-size;
    transform: translate(-$brand-size/2, -$brand-size/2);

    .home & {
      display: none;
    }

    @media (min-width: $screen-xs) {
      left: 50%;
    }
  }
}

.canvas {
  transition: all .2s ease;

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: none;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0;
    // pointer-events: none;
    transition: opacity 0.2s ease;

    .open & {
      display: block;
      opacity: 0.8;
      // pointer-events: all;
    }
  }
}

.navbar-nav {
  position: absolute;
  top: $navbar-height;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .date {
    display: block;
    font-size: 12px;
  }
}

.navbar-toggle {
  $toggle-size: 36px;
  position: absolute;
  top: ($navbar-height - $toggle-size) / 2;
  left: 10px;
  width: $toggle-size;
  height: $toggle-size;
  padding: 0;
  border: 1px solid $brand-silent;
  background-color: $body-bg;
}

@media (max-width: $screen-xs-max) {
  .navbar-nav {
    position: fixed;
    bottom: 0;
    width: $offcanvas-navbar-width;
    border-right: 1px solid $brand-silent;
    background-color: $body-bg;
    transform: translateX(-100%);
    transition: all .2s ease;

    .open & {
      transform: translateX(0);
    }

    a {
      display: block;
      padding: 15px 10px;
      border-bottom: 1px solid $brand-silent;
      color: $text-color;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: $text-inverted;
        background-color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: $screen-sm) {
  .navbar-nav {
    // space between items
    $item-padding: 40px;
    // enlarged space between middle items (placeholder for brand-logo)
    $brand-placeholder: 25px + ($item-padding + $brand-size) / 2;

    position: relative;
    top: 0;

    // Custom offset for "visual" centering of menu
    left: 0;

    padding: 0;
    // asymetric padding to make navbar items in visual middle
    // (two-lines items shift visualy whole menu a bit up)
    padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 $item-padding/2;

      font-size: 18px;
      line-height: 1.3;

      text-align: left;
      vertical-align: middle;

      &:after {
        display: block;
        width: 0;
        height: 2px;
        // margin: auto;
        content: " ";
        transition: width .2s ease, background-color .2s ease;
      }

      &.active:after,
      &:active:after,
      &:hover:after {
        width: 100%;
        background-color: $brand-secondary;
        transition: width .4s ease, background-color .4s ease;
      }
    }

    .tickets {
      margin-right: $brand-placeholder;

      // a {
        // padding: 8px 20px;
      //   border: 1px solid $brand-primary;
      //   border-radius: 8px;
      //   color: $text-inverted;
      //   background-color: $brand-primary;
      //
      //   &:hover,
      //   &:active {
      //     background-color: lighten($brand-primary, 10%);
      //   }
      // }
    }

    .talks {
      margin-left: $brand-placeholder;
    }
  }

  .navbar-toggle {
    display: none;
  }
}
