.call-to-action {
  font-size: 1.3em;
  text-align: center;

  &:before {
    display: block;
    width: 300px;
    height: 1px;
    margin: 1em auto;
    content: " ";
    background-color: $brand-silent;
  }
}

.sponsors {
  text-align: center;

  h3 {
    color: $brand-primary;
  }

  .platinum {
    h3 {
      margin-bottom: -20px;
    }
  }
}

.djangogirls,
.platinum,
.gold,
.silver {
  @include make-row();
}

.djangogirls {
  margin-top: 3em;
}

.sponsor {
  .djangogirls &,
  .platinum & {
    @include make-sm-column(12);
  }

  .gold & {
    @include make-sm-column(6);
  }

  .silver & {
    @include make-sm-column(4);
  }

  img {
    width: 100%;
    height: auto;
  }

  .sponsor-twisto {
    position: relative;
    top: -10px;
  }

  .sponsor-redhat {
    position: relative;
    top: -30px;

    img {
      width: 90%;
    }
  }
}

.sponsor-placeholder {
  position: relative;
  top: 30px;
  font-size: 1.2em;

  &.alone {
    font-size: 2em;
  }
}

@media (max-width: $screen-sm) {
  .sponsors {
    h3 {
      margin-bottom: 0 !important;
    }
    .sponsor {
      margin-top: 15px;
      padding: 0 30px;
      .sponsor-redhat {
        top: auto !important;
      }
    }
  }
}