$avatar-size: 96px;
$commit-line-size: 10px;

.talks {
  h1 {
    text-align: center;
  }
}

.event-full {
  @include make-row();

  &.general {
    .title {
      // FIXME: HACK...
      padding-top: 10px;
    }
  }

  .title {
    @include make-sm-column(5);
    text-align: right;
  }

  .talk-description {
    @include make-sm-column(5);
    @include make-sm-column-push(2);
  }

  .commit {
    @include make-sm-column(2);
    @include make-sm-column-pull(5);
  }
}

.talk-block {
  @include make-row();

  .event {
    @include make-sm-column(6);
  }

  .master {
    text-align: right;

    .talk-description {
      @include make-sm-column(8);
    }

    .commit {
      @include make-sm-column(4);
    }
  }

  .practical {
    .talk-description {
      @include make-sm-column(8);
      @include make-sm-column-push(4);
    }

    .commit {
      @include make-sm-column(4);
      @include make-sm-column-pull(8);
    }
  }
}

.talk-description {
  padding: 16px 0;

  .speaker {
    color: $brand-primary;
    font-weight: bold;
  }

  p {
    margin-top: 5px;
    margin-bottom: 0;
  }
}


.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  background-color: $bg;
  border: 1px solid $brand-silent;
}

.commit {
  $dot-size: 35px;
  padding: 16px 0;
  text-align: center;

  .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background-color: $commit-line;
    transform: translate(-50%, -50%);
  }

  &.empty {
    height: $avatar-size;
  }

  &.first:after {
    top: 50%;
    height: 50%;
  }

  &.last:after {
    height: 50%;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1000;
    width: $commit-line-size;
    height: 100%;
    content: " ";
    background-color: $commit-line;
    transform: translateX(-50%);
  }
}

.branch {
  height: 103px;
  margin-bottom: -2px;
  text-align: center;
}
