.speakers {
  // keynotes
  .keynote-speaker {
    @include make-row;

    margin-top: 20px;
  }

  .keynote-avatar {
    @include make-md-column(2);
  }

  .keynote-description {
    @include make-md-column(10);
  }

  // speakers

  // common
  img,
  .placeholder {
    width: $images-size;
    height: $images-size;
    border: 1px solid $text-shadow-color;
    border-radius: 100%;
  }

  .name {
    padding: 0;
    margin-top: 0;
    font-weight: 500;
    font-size: 1.6em;
  }

  .description {
    font-size: 1.2em;
  }

  .placeholder {
    position: relative;
    display: inline-block;

    span {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 100px;
    }
  }

  .cfp {
    margin-top: 50px;
  }

  .cfp-notice {
    @extend .alert;
    @extend .alert-info;
  }

  .cfp-link {
    font-weight: bold;
  }
}
