// Default bootstrap variables
@import "bootstrap/variables";

// Theme overrides

$jumbotron-bg: #fff;
$jumbotron-color: #000;

$claim-bg: #ddd;

$tricolor-red: #A72624;
$tricolor: #fff #A72624 #5ba4c0;

//map
$map-height: 400px;
$text-shadow-color: #ccc;

$images-size: 150px;

$font-size-base: 16px;
