@import "bootstrap/variables";

// Grid

$grid-gutter-width: 20px;
$container-desktop: (940px + $grid-gutter-width);
$container-large-desktop: $container-desktop;
$container-lg: $container-desktop;
$container-md: $container-desktop;
$screen-lg: $screen-md;

// Color theme

$brand-primary: #1e5493;
$brand-secondary: #d52034;
$brand-silent: #d1d1d1;

$text-color: #646464;
$text-inverted: #fff;

$commit-line: #dfdfdf;

$navbar-bg: rgba(255, 255, 255, 0.97);

// Dimensions

$navbar-height: 60px;
$footer-height: 280px;

// Theme overrides

$font-size-base: 16px;
