// Default bootstrap variables
@import "bootstrap/variables";

$brand-primary: #1e5493;
$brand-secondary: #d52034;
$brand-silent: #d1d1d1;
$text-color: #646464;

$navbar-height: 60px;

// Theme overrides

$jumbotron-bg: #fff;
$jumbotron-color: #000;

$claim-bg: #ddd;

$speakers-social-link-color: #aaa;

//map
$map-height: 400px;
$text-shadow-color: #ccc;

$images-size: 150px;

$font-size-base: 16px;
