@import 'bootstrap';
@import 'pycon/sponsors';
@import 'pycon/map';
@import 'pycon/speakers';
@import 'pycon/timeline';
@import 'pycon/tickets';
@import 'pycon/team';
@import 'pycon/coc';
@import 'pycon/getting_here';
@import 'pycon/sponsorship';

html,
body {
  position: relative;
  height: 100%;
}

body {
  padding-top: $navbar-height;
  text-align: center;
}

section {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 2.8em;
}

.jumbotron {
  margin-bottom: 0;

  h1 .label {
    display: none;
  }

  .python-logo {
    $logo-size: 200px;
    width: auto;
    height: $logo-size;
  }

  .event-date,
  .event-location {
    margin-top: 1em;
    font-weight: bold;
    font-size: 22px;
  }
}

.lead {
  font-size: 1.3em;
  text-align: center;
}

.claim {
  padding: $jumbotron-padding;
  color: $jumbotron-color;
  background: $claim-bg;

  font-size: $jumbotron-font-size;

  .lead {
    margin: 0;
  }
}
