@import 'bootstrap';
@import 'pycon/sponsors';
@import 'pycon/map';
@import 'pycon/speakers';
@import 'pycon/timeline';

html,
body {
  position: relative;
  height: 100%;
}

body {
  padding-top: $navbar-height;
  text-align: center;
}

section {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 2.8em;
}

.jumbotron {
  margin-bottom: 0;

  h1 {
    text-outline: 1px solid $jumbotron-color;
  }

  .python-logo {
    $logo-size: 200px;
    width: $logo-size;
    height: $logo-size;
  }
}

.lead {
  margin: 0;
}

.claim {
  padding: $jumbotron-padding;
  color: $jumbotron-color;
  background: $claim-bg;

  font-size: $jumbotron-font-size;
}


