@import "variables";
@import "bootstrap/normalize";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/grid";
@import "bootstrap/mixins/grid-framework";
@import "bootstrap/mixins/responsive-visibility";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/grid";
@import "bootstrap/responsive-utilities";

@import "pycon/navbar";
@import "pycon/footer";
@import "pycon/twitter";

@import "pycon/home";
@import "pycon/coc";
@import "pycon/map";
@import "pycon/talks";
@import "pycon/team";
@import "pycon/tickets";
@import "pycon/sponsors";

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

@font-face {
  font-family: "Amatic";
  font-style: normal;
  font-weight: 700;
  src: local("Amatic SC Bold"), local("AmaticSC-Bold"), url(https://fonts.gstatic.com/s/amaticsc/v7/IDnkRTPGcrSVo50UyYNK75S3E-kSBmtLoNJPDtbj2Pk.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: $brand-primary;

  sup {
    display:inline-block;
    text-decoration: none;
  }
}

.canvas {
  height: 100%;
}

.viewport {
  min-height: 100%;
  padding-top: $navbar-height;
  padding-bottom: 40px;

  @media (min-width: $screen-sm) {
    padding-bottom: $footer-height;
  }
}

.clearfix {
  @include clearfix();
}

.lead {
  font-size: 1.2em;
}

.anchor {
  position: relative;
  top: -$navbar-height;
  display: block;
  visibility: hidden;
}

h1 {
  color: $brand-secondary;
}

h2,
h3 {
  margin: 2em 0 1em;
  color: $brand-primary;
}

hr {
  height: 1px;
  border: 0;
  background-color: $brand-primary;
}

.pycontest-email {
  color: $brand-secondary;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}
